* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#header {
    background-color: #1f2235;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 80px;
}

#brand img {
    width: 100px;
}

#navbar > ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navItem a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 18px;
}

.navItem a:hover {
    color: #ff4a47;
}

.profilepix {
    float: right
}

.fa-brands {
    border: solid 2px red;
    height: 50px;
    width: 50px;
    margin-right: 50px ;
    margin-bottom: 80px;
    margin-top: 150px;
    padding-top: 10px;
    border-radius: 25px;
    font-size: 25px;
}